<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#">SMK Foundation</a>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5"><%= @home_page_content.title rescue "" %></h1>
            <h3 class="mb-5"><%= @home_page_content.sub_title rescue "" %></h3>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          
          <div class="amount-container">
            <div>Donated</div>
            <p><%= number_to_indian_currency(@donors&.sum(:donate_amount))%></p>
          </div>
          <div class="amount-container">
            <div>Donors</div>
            <p><%= @donors.count %></p>
          </div>
          <div class="amount-container">
            <div>Spent</div>
            <p><%= number_to_indian_currency(@expenditures&.sum(:amount_spent)) %></p>
          </div>
          <div class="amount-container">
            <div>Left</div>
            <p><%= number_to_indian_currency(@donors&.sum(:donate_amount) - @expenditures&.sum(:amount_spent)) %></p>
          </div>

        </div>
      </div>
    </div>
  </header>

  <footer>
    <div class="container">
      <p>SMK Foundation</p>
    </div>
  </footer>

</body>
</html>
